<nav class="navbar navbar-dark header">
  <div class="container-fluid">
    <button type="button" class="navbar-toggler" (click)="onSideNavMenuClick()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="justify-content-center">
      <a
        class="navbar-brand mb-0 h1"
        routerLink="/home"
        (click)="onHeaderClick()"
        >WORDLED</a
      >
    </div>

    <div class="nav navbar-nav navbar-right">
      <a routerLink="/auth">Login</a>
    </div>
  </div>
</nav>
