<div class="card">
  <!-- <div style="position: fixed; border-radius: inherit"></div> -->
  <div
    class="body"
    [class]="cellStateClass"
    [ngClass]="(isGameOver | async) ? 'disabled' : ''"
    [@cellAnimate]="animateState"
    (@cellAnimate.start)="onAnimateStart($event)"
  >
    <!-- get current row/turn input value -->
    @if (currentTurnValue && currentTurn === turnIndex) {
    <h3>{{ currentTurnValue }}</h3>
    <!-- display previous row/turn values -->
    } @else if (cellValue) {
    <h3>{{ cellValue }}</h3>
    <!-- display space for non-played cells -->
    } @else {
    <!-- <h3>&nbsp;</h3> -->
    <h3>Z</h3>
    }
  </div>
</div>
