h3 {
  margin: 0px;
  font-size: 2.5rem;
  font-weight: bolder;
}

.body {
  width: 3.5rem;
  height: 4.5rem;
  align-content: center;
  padding: 0.5rem;
}

.card {
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  /* border: 1px solid whitesmoke; */
  border: 1px solid darkgray;
  background-color: skyblue;
  overflow: hidden;
}

.card:has(> .incorrect),
.card:has(> .present),
.card:has(> .correct) {
  border: 1px solid lightgray;
}

.card:has(> .default.disabled) {
  background-color: gray;
  opacity: 50%;
}

.incorrect {
  background-color: #3A3A3C;
  color: white;
}

.present {
  background-color: rgb(221, 221, 93);
  color: white;
}

.correct {
  background-color: rgb(105, 158, 26);
  color: white;
}

.default {
  background-color: skyblue;
  color: black;
}