<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0"
/>
<div class="list-group">
  <a
    class="list-group-item list-group-item-action"
    routerLink="/play"
    (click)="onPlayClicked()"
  >
    <span class="material-symbols-rounded">sports_esports</span>
    PLAY
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <span class="material-symbols-rounded">leaderboard</span> STATS
  </a>
  <a href="#" class="list-group-item list-group-item-action"
    ><span class="material-symbols-rounded"> help </span> HOW TO PLAY
  </a>
  <a
    class="list-group-item list-group-item-action"
    routerLink="/about"
    (click)="onAboutClicked()"
    ><span class="material-symbols-rounded"> account_box </span> ABOUT
  </a>
</div>
