<div class="modal-backdrop"></div>
<div class="modal fade show" tabindex="-1" role="dialog" style="display: block">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">PLAY</h5>
      </div>
      <div class="modal-body">
        <div class="container text-center">
          <div class="">
            <button
              type="button"
              class="btn btn-primary"
              [disabled]="isLoading"
              (click)="onResumeModal()"
            >
              RESUME
            </button>
          </div>
          <div>
            <button
              type="button"
              class="btn btn-primary mt-3"
              [disabled]="isLoading"
              data-bs-toggle="collapse"
              href="#collapseNewGame"
              aria-expanded="false"
              aria-controls="collapseNewGame"
            >
              NEW GAME
            </button>
          </div>
        </div>
        <div class="newgame-container collapse" id="collapseNewGame">
          <div class="row justify-content-center">
            <div class="col-auto new-game-border">
              <div class="row justify-content-center">
                <div class="col-auto">
                  <div class="input-group mb-3">
                    <label
                      class="input-group-text dropdown-label"
                      for="inputWordLength"
                      >WORD LENGTH</label
                    >
                    <select
                      class="form-select"
                      id="inputWordLength"
                      [disabled]="isLoading"
                      [(ngModel)]="selectedWordLength"
                    >
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-auto">
                  <div class="input-group mb-3">
                    <label
                      class="input-group-text dropdown-label"
                      for="inputMaxTurns"
                      >MAX TURNS</label
                    >
                    <select
                      class="form-select"
                      id="inputMaxTurns"
                      [disabled]="isLoading"
                      [(ngModel)]="selectedMaxTurns"
                    >
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-auto">
                  <button
                    type="button"
                    class="btn btn-success"
                    [disabled]="isLoading"
                    (click)="onNewGameStartModal()"
                  >
                    @if (isLoading) {
                    <span
                      class="spinner-border spinner-border-sm"
                      role="status"
                      aria-hidden="true"
                    ></span>
                    Loading... } @else { START }
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            (click)="onCancelModal()"
          >
            Cancel
          </button>
        </div> -->
      </div>
    </div>
  </div>
</div>
