.main-container {
  text-align: center;
  background-color: #F1F1F1;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.cell-container {
  margin: 3px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  >.col,
  >[class*="col-"] {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.keyboard-container {
  /* width: 100vw; */
  position: sticky;
  padding: 1rem;
  bottom: 0rem;
  background-color: #F1F1F1;
}