.mat-sidenav {
  height: calc(100vh - 4rem);
  width: 15rem;
  float: left;
  /* position: relative; */
  padding: 1rem;
  background-color: #d7e3ff;
}

.mat-sidenav-content {
  overflow-x: hidden;
}

.mat-sidenav-container {
  height: calc(100vh - 4rem);
}